.slider {
	background-image: url("../imagenes/1.jpg");
	background-size: 100% 100%;
	top: 50%;
	left: 50%;
	width: 640px;
	height: 360px;
	border-radius: 10px;
	animation: slide 15s infinite linear;
}

@keyframes slide {
	0%  {background-image: url(../imagenes/1.jpg);}
	25%  {background-image: url(../imagenes/2.jpg);}
	50%  {background-image: url(../imagenes/3.jpg);}
	75%  {background-image: url(../imagenes/4.jpg);}
}

section {
	text-align: center;
}
